<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Add New Curve point</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div>
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<label for="curveId">
				<input class="form-control" type="number" th:field="*{curveId}" name="curveId" id="curveId" placeholder="Curve Id"/>
				<p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
			</label>

			<label for="term">
				<input class="form-control" type="number" th:field="*{term}" name="term" id="term" placeholder="Term"/>
				<p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
			</label>
			<label for="curveValue">
				<input class="form-control" type="number" th:field="*{curveValue}" name="curveValue" id="curveValue" placeholder="Value"/>
				<p class="text-danger" th:if="${#fields.hasErrors('curveValue')}" th:errors="*{curveValue}"></p>
			</label>
			<button class="btn btn-danger"  type="submit" value="Cancel"><a th:href="@{/curvePoint/list}" th:method="get" class="update">Cancel</a></button>
			<button class="btn btn-primary"  type="submit" value="Create">Add Curve Point</button>
		</form>
	</div>

</div>
</body>
</html>