<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Add New Curve point</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" method="post" class="form-horizontal" style="width: 100%">
			<label class="curveId">
				<input class="form-control" type="number" name="curveId" placeholder="Curve Id">
			</label>
			<label class="term">
				<input class="form-control" type="number" name="term" step="0.01" min="1" placeholder="Term">
			</label>
			<label class="curveValue">
				<input class="form-control" type="number" name="curveValue" step="0.01" min="1" placeholder="Value">
			</label>
			<button class="btn btn-danger"  type="submit" value="Cancel"><a th:href="@{/curvePoint/list}" th:method="get" class="update">Cancel</a></button>
			<button class="btn btn-primary"  type="submit" value="Create">Add Curve Point</button>
		</form>
	</div>

</div>
</body>
</html>