<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Update Curve point</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Curve point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.getId})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<label for="curveId">
				<input id="curveId" class="form-control" th:field="*{curveId}" type="number" name="curveId" placeholder="Curve id">
				<p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
			</label>
			<label for="term">
				<input id="term" class="form-control" th:field="*{term}" type="number" name="term" placeholder="Term">
				<p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
			</label>
			<label for="curveValue">
				<input id="curveValue" class="form-control" th:field="*{curveValue}" type="number" name="curveValue" placeholder="Value">
				<p class="text-danger" th:if="${#fields.hasErrors('curveValue')}" th:errors="*{curveValue}"></p>
			</label>
			<button class="btn btn-danger" type="submit" value="Cancel"><a th:href="@{/curvePoint/list}" th:method="get" class="update">Cancel</a></button>
			<button class="btn btn-primary" type="submit" value="Update">Update</button>
		</form>
	</div>

</div>
</body>
</html>