<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Add New Bid</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
				<label for="account">
					<input id="account" class="form-control" type="text" name="account"  th:field="*{account}" placeholder="Account">
					<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
				</label>
				<label for="type">
					<input id="type" class="form-control" type="text" name="type"  th:field="*{type}" placeholder="Type">
					<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
				</label>
				<label for="bidQuantity">
					<input id="bidQuantity" class="form-control" type="text" name="bidQuantity"  th:field="*{bidQuantity}" placeholder="Bid quantity">
					<p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
				</label>
				<button class="btn btn-danger"  type="submit" value="Cancel"><a th:href="@{/bidList/list}" th:method="get" class="update">Cancel</a></button>
				<button class="btn btn-primary"  type="submit" value="Create">Add BidList</button>
		</form>
	</div>
</div>
</body>
</html>