<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Update Bid list</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" ><body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bidList.getId})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
				<label for="account">
					<input id="account" class="form-control" th:field="*{account}" type="text" name="account" placeholder="Account">
					<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
				</label>
				<label for="type">
					<input id="type" class="form-control" th:field="*{type}" type="text" name="type" placeholder="Type">
					<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
				</label>
				<label for="quantity">
					<input id="quantity" class="form-control" th:field="*{bidQuantity}" type="number" name="bidQuantity" placeholder="Bid quantity">
					<p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
				</label>
				<button class="btn btn-danger" type="submit" value="Cancel"><a th:href="@{/bidList/list}" th:method="get" class="update">Cancel</a></button>
				<button class="btn btn-primary" type="submit" value="Update">Update</button>
		</form>
	</div>

</div>
</body>
</html>