<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Update Bid list</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" ><body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bidList.getId})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
				<label class="account">
					<input class="form-control" type="text" id="bidAccount" name="account" min="1" placeholder="Account" required>
				</label>
				<label class="type">
					<input class="form-control" type="text" id="bidType" name="type" placeholder="Type" required>
				</label>
				<label class="quantity">
					<input class="form-control" type="number" id="bidQuantity" name="bidQuantity" min="1" placeholder="Quantity" required>
				</label>
				<button class="btn btn-danger" type="submit" value="Cancel"><a th:href="@{/bidList/list}" th:method="get" class="update">Cancel</a></button>
				<button class="btn btn-primary" type="submit" value="Update">Update</button>
		</form>
	</div>

</div>
</body>
</html>