<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div class="container-fluid container-sm">
    <h3>Login with Username and Password</h3>
    <form class="form-group login">

        <div class="form-group">
            <label for="username">User: </label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p><a data-th-href="@{user/add.html}">Create your account</a> or <a href="http://localhost:8080/login/oauth2/code/github">connect with Github</a></p>
    </div>
</body>
</html>