<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Trade</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|
			<a href="/rating/list">Ratings</a>&nbsp;|
			<a href="/trade/list">Trade</a>&nbsp;|
			<a href="/ruleName/list">Rule</a>
		</div>
		<div class="col-6 text-right">
			Logged in userAccount: <b th:inline="text"  class="userAccount"> [[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/app-logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Trade List</h2></div>
	<div class="row">
		<a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Buy Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:action="@{/trade/list}" th:method="GET">
				<tr id="bidList" th:object="${allTrades}" th:each="trade: ${allTrades}">
					<td th:text="${trade.id}"></td>
					<td th:text="${trade.account}"></td>
					<td th:text="${trade.type}"></td>
					<td th:text="${trade.buyQuantity}"></td>
					<td><a th:href="@{/trade/update/{id}(id=${trade.getId})}" th:method="get" class="update">Edit</a> | <a th:href="@{/trade/delete/{id}(id=${trade.getId})}" th:method="delete" class="delete">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>