<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Poseidon Inc | Update trade</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.id})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<label for="account">
				<input class="form-control" type="text" th:field="*{account}" name="name" id="account" placeholder="Account"/>
				<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
			</label>
			<label for="type">
				<input class="form-control" type="text" th:field="*{type}" name="description" id="type" placeholder="Type"/>
				<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
			</label>
			<label for="buyQuantity">
				<input class="form-control" type="number" th:field="*{buyQuantity}" name="buyQuantity" id="buyQuantity" placeholder="Buy quantity"/>
				<p class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></p>
			</label>
			<button class="btn btn-danger" type="submit" value="Cancel"><a th:href="@{/trade/list}" th:method="get" class="update">Cancel</a></button>
			<button class="btn btn-primary" type="submit" value="Update">Update</button>
		</form>
	</div>

</div>
</body>
</html>